@use 'variaveis';

.hero{
    padding: 5.6vw;
    min-height: 80vh;

    &__content{
        max-width: 875px;

        &__button{
            margin-top: 2vw;
            margin-bottom: 8px;
            width: 300px;
        }

        span{
            margin-bottom: 50px;
        }

        &__sinopse{
            max-width: 875px;
        }

        &__branding{
            max-width: 320px;

            img{
                max-width: 320px;
                display: block;
                min-height: 170px;
                padding: 56px 0 12px;

    }


}
}
}